<div class="container">
  <div class="jumbotron">
    <h2><%= gettext "Welcome to %{name}!", name: "Thumbs Down" %></h2>
    <p class="lead">An multiplayer online game of patience.</p>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="new-game-form"></div>
    </div>
  </div>
</div>

<script>
setTimeout(function() {
  window.app.showNewGameForm(<%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>, 'new-game-form');
}, 50);
</script>
