<div class="container">
  <div class="intro text-center">
    <p>👎👎👎👎👎👎👎👎👎👎👎</p>
    <p>🏅🏅🏅🏅🏅🏅🏅🏅🏅🏅🏅</p>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <div id="new-game-form"></div>
    </div>
  </div>
  <%= if (length @open_games) > 0 do %>
    <h5>Open Games</h5>
    <div class="col-12">
    <ul>
    <%= for game <- @open_games do %>
      <li>
        <a href="<%= @base_url %>/games/<%= game.id %>">Join Game</a>
      </li>
    <% end %>
    </div>
  <%= end %>

  <h5>Leader Board</h5>
  <table class="table">
  <thead>
    <tr>
      <th>🏅 Winner</th>
      <th>⏱️ Duration</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for game <- @games do %>
    <tr>
      <td>🏅 <%= game.winner %> 🏅</td>
      <td>⏱️ <%= game.duration %>secs</td>

      <td class="text-right">
        <span><%= link "Details", to: game_path(@conn, :show, game), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
</div>

<script>
setTimeout(function() {
  window.app.showNewGameForm(<%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>, 'new-game-form');
}, 500);
</script>
